<config> 
 <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"> 
  <interface> 
   <{int_name}> 
    <name>{int_num}</name> 
    <shutdown operation="delete"/>
   </{int_name}> 
  </interface> 
 </native> 
</config> 