<config> 
 <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"> 
  <interface> 
   <Loopback> 
    <name>{num}</name> 
    <description>Loopback{num}</description> 
    <ip> 
     <address> 
      <primary> 
       <address>10.0.0.{num}</address> 
       <mask>255.255.255.0</mask> 
      </primary> 
     </address> 
    </ip> 
   </Loopback> 
  </interface> 
 </native> 
</config> 
